@import '../../styles/_variables';
@import '../../styles/index';

.duebill-item {
  border: 1px solid $darkGray;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-sizing: border-box;
  cursor: pointer;
  transition: border 150ms;
  margin-bottom: 5px;
  padding-top: 7px;
  font-family: $label;
  font-size: 1.25em;
}
.duebill-item:nth-of-type(odd) {
  background: $lightPistachio;
  &:hover {
    background: $lightPurple;
}
}
.duebill-item:nth-of-type(even) {
  background: $skyblue;
  &:hover {
    background: $lightPurple;
}
}

.modal-content {
  transform: translateY(25%);
}

.modal-body {
  padding-bottom: 0px;
  font-family: $label;
  font-size:1.25em;
}

.modal-title {
  margin:0 auto;
  font-family: $heading;
  font-size: 1.5em;
}

.modal-header {
  padding: 10px;
}

.close {
  margin-left: 0px !important;
}
.parentModal {
  background-color: $lightGreen;
}
.nestedModal {
  background-color: $yellow;
  border-radius: 10px;
}

.warning-image {
  margin-top: 20px;
  text-align: center;
}

.delete-text {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2em;
}

.nope-button, .sure-button, .delete-button, .edit-button, .back-button {
  border-radius: 25px;
}

.due-content {
  position: relative;
  top: 2px;
  font-size: 15px;
}
@media (max-width: 767px) {
  .modal-content {
    transform: translateY(15%);
    margin: 0 auto;
  }
}