@import '../../../styles/index';
.graph-wrapper {
  width: 50%;
  background-color: #004d4d;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
}

.spending-graph-container {
  background-color: #ffbb99;
  padding: 20px;
  margin:15px;
  border-radius: 10px;
}

#select-months {
  margin: 0 auto;
  width: 30%;
}
.recharts-wrapper {
  margin: 0 auto;
  padding-left: 55px;
}

.title {
  font-family: $label;
  font-size: 1.25em;
}