@import '../../../styles/index';
@import '../../../styles/_variables';

.spending-graph-container {
  background-color: $lightPeach;
  padding: 20px;
  margin:30px auto;
  border-radius: 10px;
  border: 8px solid $slateGray;
  width: 650px;
}

#select-months {
  width: 50%;
}

.label {
  font-family: $label;
  font-size: 1.25em;
  font-weight: bolder;
  padding-top:5px;
}

@media (max-width: 768px) {
  .spending-graph-container {
    width: unset;
  }
}