// @import '../../styles/_variables';
// @import url('https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet');

.logo-header {
  font-family: 'Rye', cursive;
  font-size: 1.5rem;
}
.navbar {
  font-family: 'Acme', sans-serif;
  font-size: 1.25rem;
  padding-top: 0px;
  padding-bottom: 0px;
}