@import '../../styles/index';

.no-article-message {
  border: 2px dotted black;
  border-radius: 10px;
  padding: 35px;
  width: 60%; 
  margin: 0 auto;
  font-family: $label;
  font-size: 1.2em;
  font-weight: bolder;
}

.articles {
  background-color: #ffd4cc;
  max-width: 400px;
  padding: 0 50px 30px;
  border-radius: 15px;
  border: 8px solid #404040;
  margin: 15px auto;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color:black;
}

.slick-prev {
  left: -45px;
}

.heading {
  font-family: $heading;
}

@media (max-width: 992px) {
  .articles {
    max-width:100%;
    // padding: 0 75px 30px;
  }
}
