@import '../../styles/index';

.no-article-message {
  border: 2px dotted black;
  border-radius: 10px;
  padding: 35px;
  width: 40%; 
  margin: 0 auto;
}

.articles {
  max-width: 400px;
  margin:0 auto;
}

.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color:black;
}

.slick-prev {
  left: -45px;
}

.heading {
  font-family: $heading;
}
