.bill-page {
  width: 100%;
}

.bills-components {
  margin: 10px auto;
  background-color: #ffbb99;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  border: 6px solid purple;
}

.articles-component {
  padding-right: 0px;
}
