
.bill-page {
  width: 100%;
}

.bills-components {
  margin: 15px auto;
  background-color: #ffd4cc;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  border: 8px solid #404040;
}

.articles-component {
  padding-right: 0px;
  
}

.add-button {
  border-radius: 50px;
}

button.dropdown-toggle {
  border-radius: 25px;
  background-color: purple;
  border: 1px solid purple;
  font-size: 1.2em;
}

.dropdown-item {
  font-size: 1.2em;
}
