// @import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great|Rye" rel="stylesheet');

$background-color: rgba(201, 233, 142, 0.938);
$skyblue: #99d6ff;
$beige: beige;
$darkGray: rgb(99, 96, 97);

// $logoFont: 'Rye', cursive;
