$black: black;
$darkGray: rgb(99, 96, 97);
$darkGrey: #343a40;
$slateGray: #404040;
$lightAsh:lightGray;
$lightPeach: #ffd4cc;
$lightGreen:  #85e085;
$yellow: #ffff1a;
$purple: purple;
$green: rgb(11, 150, 92);
$hotPink: hotpink;
$lightPistachio: #dcf8d5;
$lightPurple: #ecc3f1;
$skyblue: #99d6ff;