@import url('https://fonts.googleapis.com/css?family=Rye" rel="stylesheet');

$background-color: rgba(201, 233, 142, 0.938);
$lightPeach: white;
$beige: beige;
$darkGray: rgb(99, 96, 97);

$logoFont: 'Rye', cursive;
