@import '../styles/_variables';

body {
  background-image: url('../images/background-colors.jpg');
  background-size: cover;
  padding-right: 0px !important;
} 

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.appContainer {
  margin: 0 30px;
}

@media (max-width: 545px) {
  .appContainer {
  margin: 0px;
  }
}
