@import '../styles/_variables';

body {
  // background-image: url('https://www.publicdomainpictures.net/pictures/250000/velka/abstract-background-colors.jpg');
  background-size: cover;
  padding-right: 0px;
  background-image: url('https://i.pinimg.com/originals/82/2a/1d/822a1d73e308b4b8075a30ee5c03d415.jpg');
  // background-image: url('https://wallpapersite.com/images/pages/pic_w/6006.jpg');
  // background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JETFf6K/simple-background-square-s-color-4k_4hlen8zvwg__F0000.png');
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.appContainer {
  margin: 0 30px;
}