@import '../../styles/index';
@import '../../styles/_variables';

.heading {
  font-family: $heading;
}

.paid-bill {
  margin-top: 15px;
  background-color: $lightPeach;
  border-radius: 15px;
  padding-bottom:15px;
}