@import '../../styles/_variables';
@import '../../styles/index';

.paidbill-item {
  border: 1px solid $darkGray;
  border-radius:20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  box-sizing: border-box;
  transition: border 150ms;
  margin-bottom: 5px;
  padding-top: 7px;
  font-family: $label;
  font-size: 1.25em;
}

.paidbill-item:nth-of-type(odd){
  background:  $lightPistachio;
  &:hover {
    background: $lightPurple;
}
}

.paidbill-item:nth-of-type(even){
  background: $skyblue;
  &:hover {
    background: $lightPurple;
}
}