@import '../../styles/index';

.single-article-card {
  max-width: 18rem;
  margin: 10px auto !important;
  font-family: $label;
}
.card-title {
  font-weight: bolder;
  font-size: 1.25em;
}
.card-text {
  font-size: 1.03em;
}
